<div class="container-md">
  
    <legend></legend>
  
    <div class="card mt-4" >
      <span id="cardheader1">Biographic information</span>
      <div class="card-header">
        <div class="card-body">
          <form>
            <!-- First Name -->
            <div class="row mb-3">
              <div class="col-md-3">
                
                <label for="firstName" class="form-label">First Name</label><i class="fa fa-star name__icon" aria-hidden="true"></i>
                <input type="text" class="form-control" id="firstName" placeholder="First Name">
              </div>
              <!-- Last Name -->
              <div class="col-md-3">
                <label for="lastName" class="form-label">Last Name</label><i class="fa fa-star name__icon" aria-hidden="true"></i>
                <input type="text" class="form-control" id="lastName"placeholder="Last Name">
              </div>
            </div>
            <div class="row">
              <!-- Birth day -->
              <div class="col-md-3">
                <label for="birthday" class="form-label">Birthday</label>
                <input type="date" class="form-control" id="birthday" >
              </div>
              <!-- Gender -->
              <div class="col-md-3">
                <label for="gender" class="form-label">Gender</label>
                <div class="select-container">
                  <select id="gender" class="form-control" >
                    <option selected>Select</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                  </select>
                  <div class="icon-container">
                    <i class="fa fa-sort-desc" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <!-- Civil Status -->
              <div class="col-md-3">
                <label for="civilStatus" class="form-label">Civil Status</label>
                <div class="select-container">
                  <select id="civilStatus" class="form-control">
                    <option selected>Select</option>
                    <option>Single</option>
                    <option>Married</option>
                    <option>Divorced</option>
                    <option>Widowed</option>
                  </select>
                  <div class="icon-container">
                    <i class="fa fa-sort-desc" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <!-- Nationality -->
              <div class="col-md-3">
                <label for="nationality" class="form-label">Nationality</label>
                <div class="select-container">
                  <select id="nationality" class="form-control">
                    <option selected>Select</option>
                    <option>Sinhala</option>
                    <option>Tamil</option>
                    <option>Muslim</option>
                  </select>
                  <div class="icon-container">
                    <i class="fa fa-sort-desc" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      
    </div>
 
  </div>
  
