<div class="container-md">
    <nav class="navbar navbar-light bg-white shadow">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="">
                <img src="{{src}}" alt="Logo" height="45" class="d-inline-block align-text-top">
            </a>
            <div class="d-flex">
               <div class="select-container">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
               </div>
                   <div class="icon-container">
                    <button class="btn "  type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                   </div>
                   
                <i class="fa fa-bell list__icon bell" aria-hidden="true" ></i>
                <i class="fa fa-list list__icon bar" aria-hidden="true" ></i>
                <i class="fa fa-user-circle-o list__icon user" aria-hidden="true"></i>
                  
            </div> 
        </div>
    </nav>
</div>