<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- Nav bar component -->
  <app-navbar></app-navbar><br><br>
  <div class="container-md">
    <h4>General Information</h4>
  </div>
  <div class="body">
    <!-- biographic-information component -->
    <app-biographic-information></app-biographic-information><br>
    <!-- contact-information component -->
    <app-contact-information></app-contact-information>
  </div><br>
  <div class="container-md">
    <div class="button-row">
      <div>
        <button type="button" class="btn btn-outline-dark clear__btn">Clear</button>
        <button type="button" class="btn btn-outline-primary save__btn">Save</button>
      </div>
  </div>
  </div>

</body>
</html>
