.body {
    padding: 16px;
}

.button-row {
    width: 100%;
    height: "auto";
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-bottom: 10px;
    padding-left: 50px;
}

.btn {
    margin: 0 10px; 
}

.clear__btn{
    border-color: #547CA2;
    color: #547CA2;
    font-weight: 500;
}
.save__btn{
    background-color:#354D72 ;
    color: white;
}

.container-md{
    h4{
        color: #3B444F;
    }
}